
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body, html {
    height: 100%;
    font-size: 16px;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;

    font-family: 'Roboto', sans-serif;
}


.row-container {
    display: flex;
}

.col-container {
    display: flex;
    flex-direction: column;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.image-btn {
    display: flex;
    background: none;
    border: none;
}

#content {
    height: 100%;
}

button {
    cursor: pointer;
}

/* Main page header */

#main-header {
    padding: 7px;
    display: flex;
    align-items: center;

    background: #dc4c3e;
}

#main-header nav {
    width: 100%;
    justify-content: space-between;
}

/* Header buttons */

#main-header button {
    width: 32px;
    height: 32px;
    margin: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 6px;

}

#main-header button:hover {
    background-color: #e7695d;
    transition: all 0.2s;
}

#main-header button:active {
    background-color: #f16d60;
}

#main-header button img {
    width: 20px;
    height: 20px;
    
    filter: invert(1);
}

/* Sidebar */

aside {
    /* position: fixed; */

    height: calc(100vh - 46px);
    width: 305px;
    padding: 35px 15px 0 30px;
    box-sizing: border-box;

    background: #f6f6f6;

    overflow-x: hidden;
}

aside:hover {
    overflow-y: auto;
}

.project.row-container {
    justify-content: space-between;
    font-size: 1rem;
}

.project.row-container>div {
    gap: 12px;
    align-items: center;
}

.project-icon {
    width: 25px;
    height: 25px;
}

.project {
    cursor: pointer;
}

.project-tasks-count {
    font-size: 0.85rem;
    color: rgb(128, 128, 128);
}

/* Because of the icon design, word 'Today' near the icon may seem not centered. This is needed to adjust. */
#today-project {
    margin-top: 2px;
}

aside ul {
    display: flex;
    flex-direction: column;
}

aside ul li {
    padding: 10px;
    align-items: center;

    border-radius: 6px;
}

aside ul li:hover {
    background: rgb(211, 211, 211);
    
    transition: all 0.2s;
}

aside ul li.selected {
    background: rgb(211, 211, 211);
}

#projects-menu {
    align-items: center;
    padding: 10px 7px;
    margin-top: 24px;
}

.open-dropdown {
    width: calc(100% - 22px);

    align-items: center;
    gap: 8px;

    font-weight: bold;
    font-size: calc(1rem + 1px);
}

#new-project {
    width: 22px;
    height: 22px;

    justify-content: center;
    align-items: center;

    border-radius: 3px;
}

#new-project:hover {
    background: rgb(224, 224, 224);
    transition: all 0.1s;
}

#new-project>img {
    width: 17px;
    height: 17px;

    filter: invert(0.1);
}

.open-dropdown>img {
    width: 12px;
    height: 12px;

    filter: invert(0.2);
    transform: rotate(-90deg);
}

.circle {
    width: 10px;
}

aside>div:first-child {
    flex: 1;
}

aside>div {
    flex: 4;
    justify-content: space-between;
}

footer {
    margin: 20px 0;

    font-size: calc(1rem - 2px);

    color: rgb(0, 0, 0);

    opacity: 0.7;
}

a {
    text-decoration: none;

    color: rgb(70, 0, 0);
}

/* Project content */

#project-content {
    height: calc(100vh - 46px);
    width: calc(100vw - 305px);
    padding: 45px 160px;
    box-sizing: border-box;
    
    gap: 30px;

    overflow-y: scroll;
}

#project-header {
    gap: 8px;
    align-items: flex-end;
}

#project-header h1 {
    font-size: calc(1rem + 6px);
    font-weight: bold;
}

#project-header #project-current-date {
    margin-bottom: 2px;

    font-size: calc(1rem - 3px);

    color: #808080;
}

/* Project tasks */

#project-tasks {
    gap: 12px;
}

/* Task */

.task {
    padding: 8px;

    justify-content: space-between;
    align-items: flex-end;

    border-radius: 6px;
    cursor:default;
}

.task:hover {
    background: whitesmoke;
}

.task-main {
    gap: 8px;
}

.task-main h2 {
    margin-bottom: 2px;

    font-size: calc(1rem + 2px);
    font-weight: 400;
}

.task-main .task-description {
    font-size: calc(1rem - 3px);
}

.task-main+div {
    align-self: flex-start;
}

.task-content {
    gap: 6px;
}

.complete-task-btn {
    min-width: 22px;
    min-height: 22px;
    width: 22px;
    height: 22px;

    background: none;
    border: 2px solid #808080; 
    border-radius: 100%;
}

.complete-task-btn:hover {
    transition: all 0.2s;
    background: #dbdbdb;
}

.task-date {
    gap: 6px;
    align-items: flex-end;

    font-size: calc(1rem - 2px);
}

.task-date>img {
    height: 15px;
    width: 15px;

    filter: hue-rotate(120deg) brightness(85%) saturate(120%);
}

.task-date>.today-text {
    color: rgb(199, 42, 199);
}

.priority-selection {
    gap: 8px;
}

.priority-selection .priority-btn {
    width: 30px;
    height: 30px;

    background: none;
    border-radius: 100%;
}

.priority-selection img {
    width: 20px;
    height: 20px;
}

.priority-btn img{
    transition: all 0.1s;
}

.priority-btn.priority-1 img {
    -webkit-filter: hue-rotate(175deg) brightness(84%);
            filter: hue-rotate(175deg) brightness(84%);       
}

.priority-btn.priority-2 img {
    -webkit-filter: hue-rotate(350deg) brightness(94%);
        filter: hue-rotate(350deg) brightness(94%);   
}

.priority-btn.priority-3 img {
    -webkit-filter: hue-rotate(307deg) brightness(79%);
        filter: hue-rotate(307deg) brightness(79%);   
}

.priority-btn.priority-1 img:hover {
    -webkit-filter: hue-rotate(175deg) brightness(60%);
            filter: hue-rotate(175deg) brightness(60%);       
}

.priority-btn.priority-2 img:hover {
    -webkit-filter: hue-rotate(350deg) brightness(70%);
            filter: hue-rotate(350deg) brightness(70%);       
}

.priority-btn.priority-3 img:hover {
    -webkit-filter: hue-rotate(307deg) brightness(55%);
            filter: hue-rotate(307deg) brightness(55%);       
}

.task-project {
    padding-right: 10px;

    text-align: end;
    font-size: calc(1rem - 4px);

    color: #808080;
}